version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: weather_zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    user: "0:0"
    networks:
      data-station-network:
        ipv4_address: 172.20.14.81

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: weather_kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_ADVERTISED_LISTENERS: INSIDE://weather_kafka:9097,OUTSIDE://85.209.163.202:19097
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_LISTENERS: INSIDE://weather_kafka:9097,OUTSIDE://0.0.0.0:19097
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
      KAFKA_ZOOKEEPER_CONNECT: weather_zookeeper:2181
      KAFKA_CREATE_TOPICS: "weather_raw:1:1"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "19097:19097"
    user: "0:0"
    networks:
      data-station-network:
        ipv4_address: 172.20.14.82

  weather-source:
    build: .
    container_name: weather_source
    pull_policy: build
    environment:
      - OPENWEATHER_API_KEY=${OPENWEATHER_API_KEY}
      # - BOOTSTRAP_SERVERS=${BOOTSTRAP_SERVERS}
      - KAFKA_BROKER=${KAFKA_BROKER}
      - KAFKA_TOPIC=${KAFKA_TOPIC}
    depends_on:
      - kafka
    ports:
      - "8012:8012"
    command: uvicorn main:app --host 0.0.0.0 --port 8012
    networks:
      data-station-network:
        ipv4_address: 172.20.14.83
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8012/health"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  data-station-network:
    external: true
